In [1]:
#we should transform the data to make it suitable to our model
#selecting a few types of triplets (documents/relations) and make questions out of them

In [2]:
import pandas as pd

In [3]:
dr = pd.read_csv('drkg1.tsv')
print(dr.shape)
dr.head()

(5874261, 3)

           e1                        relation           e2
0  Gene::2157  bioarx::HumGenHumGen:Gene:Gene   Gene::2157
1  Gene::2157  bioarx::HumGenHumGen:Gene:Gene   Gene::5264
2  Gene::2157  bioarx::HumGenHumGen:Gene:Gene   Gene::2158
3  Gene::2157  bioarx::HumGenHumGen:Gene:Gene   Gene::3309
4  Gene::2157  bioarx::HumGenHumGen:Gene:Gene  Gene::28912

In [4]:
#exploring the dataset
for i in dr.columns:
    dr[i] = dr[i].apply(str.lower)
# dr.relation = dr.relation.apply(str.lower)
dr.head()

           e1                        relation           e2
0  gene::2157  bioarx::humgenhumgen:gene:gene   gene::2157
1  gene::2157  bioarx::humgenhumgen:gene:gene   gene::5264
2  gene::2157  bioarx::humgenhumgen:gene:gene   gene::2158
3  gene::2157  bioarx::humgenhumgen:gene:gene   gene::3309
4  gene::2157  bioarx::humgenhumgen:gene:gene  gene::28912

In [5]:
dr[dr.relation.str.contains('hetionet::ccse::compound:side effect')]

,e1,relation,e2
3456051,compound::db00448,hetionet::ccse::compound:side effect,side effect::c0032584
3456052,compound::db00575,hetionet::ccse::compound:side effect,side effect::c0424024
3456053,compound::db00734,hetionet::ccse::compound:side effect,side effect::c0235309
3456054,compound::db06817,hetionet::ccse::compound:side effect,side effect::c0014724
3456055,compound::db00448,hetionet::ccse::compound:side effect,side effect::c0001824
...,...,...,...
3594990,compound::db00706,hetionet::ccse::compound:side effect,side effect::c0008031
3594991,compound::db00551,hetionet::ccse::compound:side effect,side effect::c0231218
3594992,compound::db00814,hetionet::ccse::compound:side effect,side effect::c0853760
3594993,compound::db01037,hetionet::ccse::compound:side effect,side effect::c0008489
3594994,compound::db00555,hetionet::ccse::compound:side effect,side effect::c0032617

In [6]:
dr.loc[dr.e1.str.contains('db00448'),:]

,e1,relation,e2
428532,compound::db00448,drugbank::x-atc::compound:atc,atc::a02bc03
428533,compound::db00448,drugbank::ddi-interactor-in::compound:compound,compound::db01238
428534,compound::db00448,drugbank::ddi-interactor-in::compound:compound,compound::db14185
428535,compound::db00448,drugbank::ddi-interactor-in::compound:compound,compound::db04908
428536,compound::db00448,drugbank::ddi-interactor-in::compound:compound,compound::db08912
...,...,...,...
3593518,compound::db00448,hetionet::ccse::compound:side effect,side effect::c0424295
3593522,compound::db00448,hetionet::ccse::compound:side effect,side effect::c0042401
3593654,compound::db00448,hetionet::ccse::compound:side effect,side effect::c0003123
3594306,compound::db00448,hetionet::ccse::compound:side effect,side effect::c0000731
3594370,compound::db00448,hetionet::ccse::compound:side effect,side effect::c0019360

In [7]:
dr.iloc[3456051,:]

e1                             compound::db00448
relation    hetionet::ccse::compound:side effect
e2                         side effect::c0032584
Name: 3456051, dtype: object

In [8]:
hetio_bool = dr.relation.str.contains('hetionet')

In [9]:
side_eff_bool =hetio_bool & dr.relation.str.contains('side')
side_eff_bool.value_counts()

relation
False    5735317
True      138944
Name: count, dtype: int64

In [10]:
dr.relation[side_eff_bool].value_counts()

relation
hetionet::ccse::compound:side effect    138944
Name: count, dtype: int64

In [11]:
comp_comp_bool=hetio_bool & dr.relation.str.contains('compound:compound')
comp_comp_bool.value_counts()

relation
False    5867775
True        6486
Name: count, dtype: int64

In [12]:
dr_f_bool = comp_comp_bool + side_eff_bool
dr_f = dr[dr_f_bool]
dr_f.shape

(145430, 3)

In [15]:
dr_f.to_csv('filtered_data.csv',index=False)

In [13]:
dr.iloc[2577873,:]

e1                         compound::db01069
relation    hetionet::crc::compound:compound
e2                         compound::db00777
Name: 2577873, dtype: object

In [14]:
#we will only work on these rows which describe Compound:Compound interactions, Compound:SideEffect from all the data available from Hetionet.
#now we will select these rows from the storyline dataset and flag them accordingly.

In [15]:
st=pd.read_csv('storyline_relationships.txt',sep='/n',names=['text'])
print(st.shape)
st['type']=0
st.head()

/scratch/local/ipykernel_13302/2201153711.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  st=pd.read_csv('storyline_relationships.txt',sep='/n',names=['text'])

(5874261, 1)

                                                text  type
0  Gene::2157 shows a protein-protein interaction...     0
1  Gene::2157 and Gene::5264 interact, suggesting...     0
2  Gene::2157 and Gene::2158 interact, suggesting...     0
3  Gene::2157 and Gene::3309 interact, suggesting...     0
4  Gene::2157 and Gene::28912 interact, suggestin...     0

In [16]:
#type 1 = sideEffect
#type 2 = compound compound
st.type[side_eff_bool]=1
st.type[comp_comp_bool]=2

/scratch/local/ipykernel_13302/1364351611.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  st.type[side_eff_bool]=1
/scratch/local/ipykernel_13302/1364351611.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  st.type[comp_comp_bool]=2

In [17]:
st.type.value_counts()

type
0    5728831
1     138944
2       6486
Name: count, dtype: int64

In [18]:
side_eff_bool.sum(),comp_comp_bool.sum()

(138944, 6486)

In [19]:
side_eff_bool.sum()+comp_comp_bool.sum()

145430

In [20]:
st_f = st[dr_f_bool]

In [21]:
st_f.shape

(145430, 2)

In [22]:
#lets see a few examples of the data to come up with questions...
samp1 = st_f[st_f.type == 1]
for i in range(5):
    print(samp1.iloc[i,0])

Compound::DB00448 causes a specific side effect, as indicated by its interaction with Side Effect::C0032584.
Compound::DB00575 causes a specific side effect, as indicated by its interaction with Side Effect::C0424024.
Compound::DB00734 causes a specific side effect, as indicated by its interaction with Side Effect::C0235309.
Compound::DB06817 causes a specific side effect, as indicated by its interaction with Side Effect::C0014724.
Compound::DB00448 causes a specific side effect, as indicated by its interaction with Side Effect::C0001824.

In [23]:
#lets see a few examples of the data to come up with questions...
samp2 = st_f[st_f.type == 2]
for i in range(5):
    print(samp2.iloc[i,0])

Compound::DB01069 and Compound::DB00777 have an interaction of type 'resemblence [Gene:Gene]'.
Compound::DB01103 and Compound::DB00613 have an interaction of type 'resemblence [Gene:Gene]'.
Compound::DB01231 and Compound::DB00209 have an interaction of type 'resemblence [Gene:Gene]'.
Compound::DB01327 and Compound::DB01112 have an interaction of type 'resemblence [Gene:Gene]'.
Compound::DB00257 and Compound::DB04794 have an interaction of type 'resemblence [Gene:Gene]'.

In [24]:
#right now the compounds id mean nothing as they provide no context to us, we do not know what Compound DB01069 is (Lansoprazole) 
#and what side effect c0032584 means, i tried to use some api and extract relevant information but there is no publicy available api.
#the source for the above rows is hetionet but we can find the side effect id from drugbank.
#And without the context the model will not learn any information, the id just mean meaningless nouns and we cant really find any heirarchy.
#However I shall try to slighlty modify the text.
#The current dataset is not suitable to be fine tuned on/

In [25]:
dr_f.relation.value_counts()

relation
hetionet::ccse::compound:side effect    138944
hetionet::crc::compound:compound          6486
Name: count, dtype: int64

In [26]:
def conv(row):
    if row['relation'] == 'hetionet::crc::compound:compound':
        return f"{row['e1']} and {row['e2']} are similar"
    elif row['relation'] == 'hetionet::ccse::compound:side effect':
        return f"Drug {row['e1']} causes {row['e2']}"
# dr['newTxt']=dr.loc[dr_f_bool,:].apply(conv)

In [27]:
dr_f['newTxt']=dr_f.apply(conv,axis=1)
dr_f.head()

/scratch/local/ipykernel_13302/2829069201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dr_f['newTxt']=dr_f.apply(conv,axis=1)

,e1,relation,e2,newTxt
2577873,compound::db01069,hetionet::crc::compound:compound,compound::db00777,compound::db01069 and compound::db00777 are si...
2577874,compound::db01103,hetionet::crc::compound:compound,compound::db00613,compound::db01103 and compound::db00613 are si...
2577875,compound::db01231,hetionet::crc::compound:compound,compound::db00209,compound::db01231 and compound::db00209 are si...
2577876,compound::db01327,hetionet::crc::compound:compound,compound::db01112,compound::db01327 and compound::db01112 are si...
2577877,compound::db00257,hetionet::crc::compound:compound,compound::db04794,compound::db00257 and compound::db04794 are si...

In [28]:
#i think we should create embedding for all the similar compounds and cluster them....
#then we can find any hidden relations between them and may be find the probability of a side effect being caused by an untested compound
#eg:
#query: which genes can drug A can impact/ cause side effect?
#we find the genes drug A has side effects on and return the genes which are similar to it...
#i find this is to be more like a computer science problem than NLP, because of the rule based approach

In [29]:
#finding similar compounds
#the drugs and compounds id are different enough so we need not worry about any overlap
#however we can only say two compounds are similar and the sideeffect are not similar but instead are something like target?->not sure yet
# dr_f.e1.apply(lambda x:x.split('::')[0]).value_counts()
dr_f.e1 = dr_f.e1.apply(lambda x:x.split('::')[1])

/scratch/local/ipykernel_13302/2095757482.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dr_f.e1 = dr_f.e1.apply(lambda x:x.split('::')[1])

In [30]:
# dr_f.e2[~ dr_f.e2.str.contains('side')]=dr_f.e2.apply(lambda x:x.split('::')[1])
dr_f.e2 = dr_f.e2.apply(lambda x:x.split('::')[1])

/scratch/local/ipykernel_13302/491483805.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dr_f.e2 = dr_f.e2.apply(lambda x:x.split('::')[1])

In [31]:
dr_f.head()

,e1,relation,e2,newTxt
2577873,db01069,hetionet::crc::compound:compound,db00777,compound::db01069 and compound::db00777 are si...
2577874,db01103,hetionet::crc::compound:compound,db00613,compound::db01103 and compound::db00613 are si...
2577875,db01231,hetionet::crc::compound:compound,db00209,compound::db01231 and compound::db00209 are si...
2577876,db01327,hetionet::crc::compound:compound,db01112,compound::db01327 and compound::db01112 are si...
2577877,db00257,hetionet::crc::compound:compound,db04794,compound::db00257 and compound::db04794 are si...

In [34]:
side_ef_df = dr_f[side_eff_bool]
side_ef_df.rename(columns={'e1':'side_effect','e2':'compound'},inplace=True)

/scratch/local/ipykernel_13302/141560899.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  side_ef_df = dr_f[side_eff_bool]
/scratch/local/ipykernel_13302/141560899.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  side_ef_df.rename(columns={'e1':'side_effect','e2':'compound'},inplace=True)

In [35]:
side_ef_df.to_csv('side_effects.csv',columns=['side_effect','compound'],index=False)

In [36]:
c = dr_f.iloc[:,[0,2]]
c.head()

              e1       e2
2577873  db01069  db00777
2577874  db01103  db00613
2577875  db01231  db00209
2577876  db01327  db01112
2577877  db00257  db04794

In [37]:
c=c.groupby(by='e1')
#e1 only has compounds and e2 has a combination of compound and also side effect, we do not need side effect right now
#im thinking about making something like an adjency matrix and drug being something like the target, hmm, not sure how this can be made useful 
#for llms
#making an adjacency matrix will be just zeroes for the most part as there are around 1400 unique compounds.
#this is a graph dataset, its pointless to make it make sense using other data structures.
#just following the story based approach but the model will focus on the english words and will learn the pattern more than the embeddings...
c=pd.DataFrame(c.agg(list).reset_index())
c.head()

        e1                                                 e2
0  db00014  [db00644, db00183, db06196, db00666, db06699, ...
1  db00035  [db00666, db00104, db00644, db01282, db00626, ...
2  db00050  [db00014, db00666, db06699, db00644, c0332575,...
3  db00091  [c0232492, c0036690, c0042029, c0002170, c0232...
4  db00093  [db00781, db01282, db00035, db00626, db02638, ...

In [38]:
c['all']=c.apply(lambda x: [x['e1']]+x['e2'],axis=1)
c.head()

,e1,e2,all
0,db00014,"[db00644, db00183, db06196, db00666, db06699, ...","[db00014, db00644, db00183, db06196, db00666, ..."
1,db00035,"[db00666, db00104, db00644, db01282, db00626, ...","[db00035, db00666, db00104, db00644, db01282, ..."
2,db00050,"[db00014, db00666, db06699, db00644, c0332575,...","[db00050, db00014, db00666, db06699, db00644, ..."
3,db00091,"[c0232492, c0036690, c0042029, c0002170, c0232...","[db00091, c0232492, c0036690, c0042029, c00021..."
4,db00093,"[db00781, db01282, db00035, db00626, db02638, ...","[db00093, db00781, db01282, db00035, db00626, ..."

In [39]:
c['e2']=c.apply(lambda x: [x['e1']]+x['e2'],axis=1)
c.head()

,e1,e2,all
0,db00014,"[db00014, db00644, db00183, db06196, db00666, ...","[db00014, db00644, db00183, db06196, db00666, ..."
1,db00035,"[db00035, db00666, db00104, db00644, db01282, ...","[db00035, db00666, db00104, db00644, db01282, ..."
2,db00050,"[db00050, db00014, db00666, db06699, db00644, ...","[db00050, db00014, db00666, db06699, db00644, ..."
3,db00091,"[db00091, c0232492, c0036690, c0042029, c00021...","[db00091, c0232492, c0036690, c0042029, c00021..."
4,db00093,"[db00093, db00781, db01282, db00035, db00626, ...","[db00093, db00781, db01282, db00035, db00626, ..."

In [40]:
#remove all ids starting with c(side effects)
def remove_se(row):
    to_return =[]
    for i in row:
        if 'c' != i[0]:
            to_return.append(i)
    return to_return

# c.e2=c.e2.apply(remove_se,axis=1) #:(
c.e2 = c.apply(lambda x:remove_se(x['e2']),axis=1)
c.head()

,e1,e2,all
0,db00014,"[db00014, db00644, db00183, db06196, db00666, ...","[db00014, db00644, db00183, db06196, db00666, ..."
1,db00035,"[db00035, db00666, db00104, db00644, db01282, ...","[db00035, db00666, db00104, db00644, db01282, ..."
2,db00050,"[db00050, db00014, db00666, db06699, db00644]","[db00050, db00014, db00666, db06699, db00644, ..."
3,db00091,[db00091],"[db00091, c0232492, c0036690, c0042029, c00021..."
4,db00093,"[db00093, db00781, db01282, db00035, db00626, ...","[db00093, db00781, db01282, db00035, db00626, ..."

In [41]:
c['sims']=c.e2.apply(len)
c.head()

,e1,e2,all,sims
0,db00014,"[db00014, db00644, db00183, db06196, db00666, ...","[db00014, db00644, db00183, db06196, db00666, ...",6
1,db00035,"[db00035, db00666, db00104, db00644, db01282, ...","[db00035, db00666, db00104, db00644, db01282, ...",6
2,db00050,"[db00050, db00014, db00666, db06699, db00644]","[db00050, db00014, db00666, db06699, db00644, ...",5
3,db00091,[db00091],"[db00091, c0232492, c0036690, c0042029, c00021...",1
4,db00093,"[db00093, db00781, db01282, db00035, db00626, ...","[db00093, db00781, db01282, db00035, db00626, ...",7

In [1]:
#manually modifying embeddings and creating a function to calculate similarity looks like one possible approach but there is 
#no learning or prediction here... also it is not quite possible to manualy modify all the embeddings,,,,, may be the learning here is the embeddings
#and find a way to make them relate?
#similirarity can be calculated by cosine function, but we have to find similarity of all 1400 compounds,,,,i dont think it is a big task....

#current unfigured task: make similar embeddings for similar compounds.....

#using models which are finetuned on clinical data might not be beneficial here as the IDs might be dataset specefic and the same compound 
#might be referred with some other name in other datasets,,,,->


#https://go.drugbank.com/drugs/DB00035 we could have used some scraping tool and extract the description here,,, would have been beneficial for the 
#LLM as it would be getting english .
#still i somehow feel cosine similarity might be more appropriate for this task as there is fewer chance for incorrect prediction, the LLM might 
#halucinate without proper data modeling? it would involve making the dataset suit the model... i think it takes a lot of time.

In [43]:
c.to_csv('data.csv',columns=['e1','e2','all'],index=False)